<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formation VueJS</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        .box{
            padding: 100px 0px;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Hello VueJS!</h1>
    <div id="app">
        <div v-if="showBooks">
            <h4> {{ title }} - {{ age }} </h4>
        </div>
        <button v-on:click="age++">Increase age</button><br><br>
        <button @click="age--">Decrease age</button>
        <div @click="changeTitle">Changer le titre</div><br>

        <button @click="toggleShowTitle">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <br>

        <!-- Mouse events -->
        <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
        <div class="box"  @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMousemove">position : {{x}}, {{y}}</div>
    </div>

    <script src="./app.js"></script>
</body>
</html>